<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style media="screen">
      html,
      body {
        height: 100%;
        background-color: #333;
        color: #ffffff;
      }
      *:focus{
        outline: none;
      }
    </style>
  </head>
  <body>
    <div class="container" id="track">
      <div class="row header-padding mb-5">
        <h1>Cerca la tua canzone</h1>
        <p>Metti il nome della canzone e clicca su "Cerca".

        <form id="search-form" action="http://localhost:8888/richiesta"  method="post" class="search-row " style="margin-bottom: 20px;">
          <div class="input-group">
            <input type="text" id="traccia" name="traccia" value="" class="form-control" placeholder="Nome della canzone"/>
            <span class="input-group-btn">
              <input class="btn btn-primary" type="submit" name="Cerca" value="Cerca">
            </span>
          </div>
        </form>
      </div>
    </div>
    <!-- Prendo i valori dal file JSON che è stato creato (data)
        Ciclo per ogni riga di 'data' e prendo i valori che mi servono
        tra cui l'immagine dell album, canzone artista previeux,e link spotify.
    -->
      <div class="container text-center">

        <div class="row mb-5">
          <% data.forEach(function(lista) { %>
              <div class="col-lg-4 col-sm-6">
                <br>
                <br>
              <% var imageUrl = lista.immagine.url %>
              <img src="<%= imageUrl %>"/>
              <h4> <strong><%= lista.nomeCanzone %></strong> </h4> <h4> <i> <strong> <%= lista.artista %></strong></i> </h4> <h5> <%= lista.album %> </h5>
                <% var Prev = lista.preview %>
                <audio controls style="margin-bottom:5%" >
                  <source  src="<%= Prev %>"  >
                </audio>
                <div><h3>Link Spotify</h3><a href="http://www.animatedimages.org/cat-arrows-111.htm" ><img src="http://www.animatedimages.org/data/media/111/animated-arrow-image-0311.gif" border="0" alt="animated-arrow-image-0311"/></a></div>
                <% var link= lista.linkSpotify %>
                <br><a href="<%=link %>" style="color: #2ecc71"> <%=link %> </a>
                <hr>
                <!-- Rimanda alla pagina dei concerti -->
                 <a type="button" class="btn btn-primary" href="http:///localhost:8888/concerti?q=<%= lista.artista %>"><strong>Cerca concerti</strong></a>
                <hr>

              </div>

          <% }); %>


        </div>
      </div>
      <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
      <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  </body>
</html>
